@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

form,
fieldset {
  border-style: none;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.scroll-nft {
  display: flex;
}
.scroll-nft .nft {
  min-width: 152px;
}
.scroll-nft .nft img {
  width: 100%;
}

.hey-there {
  margin-top: 128px;
  margin-bottom: 84px;
}
.hey-there .container {
  max-width: 1104px;
}
.hey-there .container:last-of-type {
  max-width: 1200px;
}
.hey-there .hey-there-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.hey-there .hey-there-header h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 25px;
}
.hey-there .hey-there-header p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 70px;
}
.hey-there .choose-person {
  margin-bottom: 64px;
}
.hey-there .choose-person a {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  text-decoration: none;
  margin-right: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(47, 47, 47);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  padding: 12px 65px 13px 65px;
}
.hey-there .choose-person a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 47, 47);
  transition: 0.4s ease;
}
.hey-there .choose-person a:first-of-type {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 47, 47);
}
.hey-there .choose-person a:first-of-type:hover {
  color: rgb(47, 47, 47);
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease;
  outline: 1px solid rgb(47, 47, 47);
}
.hey-there .digital-artist {
  display: flex;
  margin-bottom: 146px;
}
.hey-there .digital-artist .digital-artist-img {
  max-width: 559px;
}
.hey-there .digital-artist .digital-artist-img img {
  width: 100%;
}
.hey-there .digital-artist .digital-artist-description {
  max-width: 477px;
  padding-top: 47px;
}
.hey-there .digital-artist .digital-artist-description h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.48px;
  color: rgb(255, 127, 150);
  margin-bottom: 14px;
}
.hey-there .digital-artist .digital-artist-description h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 21px;
}
.hey-there .digital-artist .digital-artist-description p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
}
.hey-there .our-work {
  display: flex;
}
.hey-there .our-work .our-work-img {
  max-width: 585px;
  margin-right: 63px;
}
.hey-there .our-work .our-work-img img {
  width: 100%;
}
.hey-there .our-work .our-work-description {
  max-width: 552px;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
}
.hey-there .our-work .our-work-description h4 {
  font-size: 35px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 7px;
}
.hey-there .our-work .our-work-description h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 38px;
}
.hey-there .our-work .our-work-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: rgb(47, 47, 47);
  margin-bottom: 32px;
}
.hey-there .our-work .our-work-description a {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 47, 47);
  text-decoration: none;
  padding: 13px 31px;
  max-width: 160px;
  margin-left: auto;
}
.hey-there .our-work .our-work-description a:hover {
  color: rgb(47, 47, 47);
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease;
  outline: 1px solid rgb(47, 47, 47);
}

body {
  font-family: "Outfit", sans-serif;
  background: rgb(255, 255, 255);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
}
a img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */