@import "settings/variables";
@import "settings/helpers";
@import "settings/normalize";
@import "settings/reset";
@import "settings/mixins";
@import "settings/include-media";
@import "settings/fonts";
@import "settings/header";
@import "settings/scroll-nft";
@import "settings/hey-there";
@import "settings/digital-exp";
@import "settings/motion-graphic";
@import "settings/join-us";
@import "settings/collections";
@import "settings/top-nft";
@import "settings/faq";

body {
  font-family: "Outfit", sans-serif;
  background: $soft;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
  img {
    width: 100%;
  }
}

main {
  margin-top: 70px;
}

.view-all-btn {
  text-align: center;
  a {
    font-size: 14px;
    line-height: 16px;
    color: $soft;
    background-color: $dark;
    text-decoration: none;
    padding: 13px 31px;
    &:hover {
      background-color: $soft;
      color: $dark;
      transition: 0.4s ease;
      outline: 1px solid $dark;
    }
  }
}
