.digital-experience {
  margin-bottom: 325px;
  h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: rgb(130, 203, 172);
  }

  h1 {
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.48px;
    color: $dark;
    margin-bottom: 25px;
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.48px;
  }

  .digital-exp-left {
    margin-top: 40px;
    max-width: 538px;
  }

  .digital-exp-right {
    max-width: 600px;
    position: relative;

    .mia-section {
      position: relative;
    }

    .lee-section {
      position: absolute;
      right: 255px;
      width: 325px;
      height: 325px;
      background-image: url("../images/lee-nft.svg");
    }

    .mia-section {
      display: flex;
      flex-direction: column-reverse;
      top: 100px;
      // left: 170px;
      width: 410px;
      height: 410px;
      background-image: url("../images/mia-nft.svg");
    }

    .lee-nft-btn {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $dark;
      border-radius: 30px;
      box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
      background: rgba(255, 255, 255, 0.85);
      padding: 4px 15px 4px 5px;
      max-width: 105px;
      margin-top: 15px;
      margin-left: -40px;

      h5 {
        padding-left: 5px;
        font-size: 11px;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 0.48px;

        span {
          font-size: 9px;
        }
      }

      &::before {
        content: url("../images/lee-photo.svg");
        background-repeat: no-repeat;
      }

      &:hover {
        background-color: rgb(130, 203, 172);
        transition: 0.4s ease;
      }
    }
    .mia-nft-btn {
      @extend .lee-nft-btn;
      max-width: 137px;
      padding: 4px 9px;
      margin-top: 0;
      margin-bottom: 22px;
      margin-left: -84px;
      &::before {
        content: url("../images/mia-photo.svg");
        background-repeat: no-repeat;
      }
    }
  }
}
